VITE_API_URL=
PORT=80
ASPNETCORE_ENVIRONMENT=Development
POSTGRES_DB=linkforge
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
Cors__AllowedOrigins__0=http://localhost:5173
RateLimiting__PermitLimit=1000
RateLimiting__WindowSeconds=600
API_KEY=minha-chave-bem-legal
REDIRECT_BACKEND_HOST=redirect:8081
SHORTENER_BACKEND_HOST=api:8080
SHORTENER_GRPC_ADDR=api:5001
ORIGIN_TIMEOUT_SECONDS=2


